@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(100%);
    /* opacity: 0; */
  }
  100% {
    transform: translateX(-100%);
    /* opacity: 1; */
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
}

.dropdown {
  @apply absolute -right-10 z-50 top-12 mt-3 w-full p-5 rounded-lg bg-black min-w-[210px] h-screen flex flex-col gap-5;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  @apply border rounded-full w-16 bg-gradient-to-b from-sky-500 to-cyan-300;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
